<app-cabecajges></app-cabecajges>
<div class="container">
  <br>
  <h5 style="padding:10px" class="brown darken-4 white-text" align="center">Palestrantes</h5>
  <br>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="assets/images/jges/katia.jpg" alt="" class="circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <b>Katia Barbosa Macedo</b><br><br>
          <span class="black-text">
            Professora Doutora - Psicologia PUCGO
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="assets/images/jges/denia.jpg" alt="" class="circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <b>Dênia Rezende</b><br><br>
          <span class="black-text">
            Diretora de Tecnologia do Grupo Totvs
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-faixajges></app-faixajges>