<app-cabeca></app-cabeca>
<div class="container">
    <h4 class="font-bold light-blue-text text-darken-3">Trabalhos Apresentados</h4>
    <hr>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#p">Palestras / Seminário</a></li>
                <li class="tab col s4"><a href="#w">Workshop</a></li>
                <li class="tab col s4"><a href="#s">Sessões Técnicas</a></li>
            </ul>
        </div>
        <div id="p" class="col s12">
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/donald.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Seminário - Perspectiva Sistémica de la Informática</b><br><br>
                            <a href="assets/sessoes-cbs/Seminário_14CBS_Donald.pdf" download><img src="assets/images/icon-pdf.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/alexander.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra de Abertura</b><br><br>
                            <img src="assets/images/icon-pdf.png"><a href="assets/sessoes-cbs/BrasilSyst2018-Laszlo-esp.pdf"
                                download>BrasilSyst2018-Laszlo-esp</a>
                            <br>
                            <img src="assets/images/icon-pdf.png"><a href="assets/sessoes-cbs/BrasilSyst2018-Laszlo-paper.pdf"
                                download>BrasilSyst2018-Laszlo-paper</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/otavio.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 1 - Uma experiência de aplicação do pensamento sistêmico no ensino de
                                engenharia</b><br><br>
                            <a href="assets/sessoes-cbs/Apresentação 14o CBS 2018 - otavio.ppt" download><img src="assets/images/icon-slide.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/leonardo.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 2 - Criptomoedas/moedas digitais e seu impacto na sociedade contemporânea</b><br><br>
                            <a href="assets/sessoes-cbs/Palestra Criptomoedas -  FASAM - leonardo.odp" download><img
                                    src="assets/images/icon-slide.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/donald.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 3 - Razonamiento Cybernético y la Ética del Vivir y Trabajar
                            </b><br><br>
                            <a href="assets/sessoes-cbs/Brasil 2018 Address Spanish v2.pdf" download><img src="assets/images/icon-pdf.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/luciano.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 4 - Agenda brasileira para a Indústria 4.0
                            </b><br><br>
                            <a href="assets/sessoes-cbs/Industria40-Luciano.pptx" download><img src="assets/images/icon-slide.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/sandro.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 5 - O dia depois de amanhã: pensamento sistêmico-cibernético para aprender a
                                viver no Antropoceno
                            </b><br><br>
                            <a href="assets/sessoes-cbs/PALESTRA 14 CBS  final - sandro.pptx" download><img src="assets/images/icon-slide.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/chris.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 6 - Pensamento Sistêmico Multimodal: aprofundamentos quanto a método, teoria e
                                sociologia no contexto da
                                sustentabilidade e da intradisciplinaridade
                            </b><br><br>
                            <a href="assets/sessoes-cbs/14 Congresso de Sistemas - Christian De Britto.pptx" download><img
                                    src="assets/images/icon-slide.png"></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/celso.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Palestra 7 - Uma Experiência de Aplicação da Inovação Aberta e Social no Município de
                                Goiânia

                            </b><br><br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="w" class="col s12">
            <div class="col s12 m12">
                <div class="card-panel lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="assets/images/cbs/maria.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <b>Workshop - Sistêmico? A que se refere hoje?
                            </b><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="s" class="col s12">
            <br>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><b>Administração e Redes entre Organizações</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">GESTÃO DE PESSOAS EM CLUSTER SOB UMA ABORDAGEM
                                    SISTÊMICA</div>
                                <div class="collapsible-body"><span>Liliane Aparecida da Silva Marques, Maria
                                        Izabel Ferezin Sares, Vinícius Generoso Monteiro </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">GESTÃO DO CONHECIMENTO E SUCESSÃO EMPRESARIAL:
                                    COMBINAÇÃO DE MODELOS PARA EFETIVAÇÃO DA GESTÃO ESTRATÉGICA EM UM ESTUDO DE
                                    CASO</div>
                                <div class="collapsible-body"><span>João Victor De Oliveira Cunha, Amanda Ferreira
                                        Aboud de Andrade, Larissa Martins Sampaio </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">RELAÇÃO ENTRE OS SISTEMAS DE GOVERNO ELETRÔNICO E
                                    DE GESTÃO DE RISCOS: ESTUDO DE CASO EM EMPRESA DE SERVIÇO CONTÁBIL</div>
                                <div class="collapsible-body"><span>Marcus Vinicius Moreira Zittei, Francisco
                                        Carlos Fernandes </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">ANÁLISE SISTÊMICA DOS IMPACTOS DA AMPLIAÇÃO DO
                                    PORTFÓLIO DE
                                    PRODUTOS: UM ESTUDO DE CASO EM UMA INDÚSTRIA DE EQUIPAMENTOS ODONTOLÓGICOS</div>
                                <div class="collapsible-body"><span>Vinicius Pereira Zeppellini, Irene Kazumi Miura,
                                        Lara
                                        Bartocci Liboni</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">SOFT SYSTEMS METHODOLOGY APLICADA AO CASO DAS COMISSÕES
                                    AVALIADORAS DE AUTODECLARAÇÕES RACIAIS DA UNIVERSIDADE FEDERAL DE UBERLÂNDIA</div>
                                <div class="collapsible-body"><span>Sra Iane Ulhoa Faria, Sr Renato César de Souza
                                        Júnior,
                                        Sra Sarentaty Inês Karoline Santana dos Reis, Sr. Vinícius Soares Oliveira de
                                        Sousa, Dra Luciana Oranges Cezarino</span></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Economia e Desenvolvimento</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">A VALIDATION MECHANISM FOR DECISION VARIABLES IN THE
                                    PROJECT PORTFOLIO MANAGEMENT SYSTEM</div>
                                <div class="collapsible-body"><span>Jeuel Bernardes Alves, Eliomar Lima, Luis Molinaro</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">A ATUAÇÃO DO BANCO DO POVO PAULISTA DE FRANCA (SP) A
                                    PARTIR
                                    DE UMA PERSPECTIVA ESPACIAL SISTÊMICA</div>
                                <div class="collapsible-body"><span>Cintia Luisa Carillo Maniglia, Melissa Franchini
                                        Cavalcanti Bandos, Adnan Kalil Jebailey Junior, Alfredo José Machado Neto</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">O MERCADO LIVRE DO SETOR ELÉTRICO BRASILEIRO: UMA
                                    ABORDAGEM
                                    POR DINÂMICA DE SISTEMAS</div>
                                <div class="collapsible-body"><span>Jéssica Ferreira Lima, Jean Carlos Domingos, Verica
                                        Freitas, Verônica Angelica Freitas de Paula </span></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Sociologia e Políticas Públicas</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">DA CAIXA PRETA AO PROJETO POLÍTICO DE DESENVOLVIMENTO
                                    DA
                                    PISCICULTURA: UM DIAGNÓSTICO A PARTIR DO VIABLE SYSTEM MODEL</div>
                                <div class="collapsible-body"><span>Juliana Mariano Alves, Waldecy Rodrigues, Fernán
                                        Enrique Vergara Figueroa, Fred Newton da Silva Souza </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">ENFOQUE SISTÊMICO NO TRANSPORTE PÚBLICO DE SÃO CARLOS</div>
                                <div class="collapsible-body"><span>Marcela Simões, Pedro Varoto, Leonardo Augusto
                                        Amaral
                                        Terra, Dante Pinheiro Martinelli </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">Sistema de Transplante Renal de São Paulo Explorado
                                    Através
                                    da Soft Systems Methodology</div>
                                <div class="collapsible-body"><span>Edilson Carlos Ramiris Maronesi, Fernando de
                                        Medeiros
                                        Ribeiro, Guilherme de Souza Pestilho, Leonardo Augusto Amaral Terra, Dante
                                        Pinheiro
                                        Martinelli</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">UMA ANÁLISE DO NÓ DA PREVIDÊNCIA SOCIAL DO BRASIL SOB A
                                    ÓTICA DO SOFT SYSTEM METHODOLOGY – SSM</div>
                                <div class="collapsible-body"><span>Raquel Perossi Rosa Martins, Ana Flávia Pellarin
                                        Alves,
                                        Leonardo Augusto Amaral Terra, Dante Pinheiro Martinelli</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">EXPERIENCING TOTAL SYSTEMIC FAILURE? THE TRUCKERS
                                    STRIKE IN
                                    BRAZIL IN MAY 2018</div>
                                <div class="collapsible-body"><span>Sandro Luis Schlindwein </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">APLICAÇÃO DA METODOLOGIA DE SISTEMAS FLEXÍVEIS NA
                                    GESTÃO DE
                                    PROCESSOS EM UMA PRÓ-REITORIA DE UMA UNIVERSIDADE PÚBLICA</div>
                                <div class="collapsible-body"><span>Sra Amanda de Gouveia Figueira Rodrigues, Sra Bruna
                                        Borges de Oliveira, Sra Fernanda Siqueira Prado Mowery, Sra Ludmila Guerra de
                                        Moura, Dra Luciana Oranges Cezarino </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">ANÁLISE DA APLICAÇÃO DA METODOLOGIA SSM NO TRANSPORTE
                                    ACESSÍVEL DO MUNICÍPIO DE UBERLÂNDIA/MG: UM ESTUDO DE CASO</div>
                                <div class="collapsible-body"><span>Sra Aline Cristine Shiaku, Sra Alexandra Maria da
                                        Silva, Dra Luciana Oranges Cezarino, Dr Eustáquio São José de Faria </span></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Psicologia e Saúde</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">A SYSTEMIC PSYCHOMETRICS APPROACH WITH SIMULATION: AN
                                    ASSESSMENT OF FEELING OF FATIGUE AT WORK</div>
                                <div class="collapsible-body"><span>Victor Rafael R Celestino, Julia S. N. F.
                                        Bucher-Maluschke, Elaine C. Marqueze </span></div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Inovação Sistêmica</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">CONTRIBUIÇÕES DA TEORIA GERAL DE SISTEMAS PARA A
                                    MUDANÇA
                                    SISTÊMICA DA INOVAÇÃO SOCIAL</div>
                                <div class="collapsible-body"><span>Daniela de Oliveira Massad, Paulo César Lapolli,
                                        Felipe
                                        Kupka Feliciano, Leandro Maciel Nascimento, Édis Mafra Lapolli </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">RELATO DE EXPERIÊNCIA: SSM COMO PROMOTOR DE
                                    TRANSFORMAÇÃO
                                    ORGANIZACIONAL EM UMA IES PRIVADA DO INTERIOR DE SÃO PAULO</div>
                                <div class="collapsible-body"><span>Patricia Rodrigues Miziara Papa, Valeria Tomas de
                                        Aquino Paracchini, Dyjalma Antônio Bassoli, Thiago Henrique de Moraes </span></div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Epistemologia e Pesquisa Sistêmica</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">THE SYSTEMIC-EVOLUTIONARY NATURE OF DYNAMIC
                                    CAPABILITIES:
                                    AN INTEGRATIVE REVIEW</div>
                                <div class="collapsible-body"><span>Sr Omar Sancilotto Donaires, Dra Lara Bartocci
                                        Liboni,
                                        Dra Luciana Oranges Cezarino </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">UMA ADAPTAÇÃO DO MÉTODO DE ESTRUTUÇÃO DE PROBLEMAS
                                    STRATEGIC OPTIONS DEVELOPMENT AND ANALISYS (SODA) PARA AUXILIAR A CRIAÇÃO DE
                                    MODELOS DE
                                    DINÂMICA DE SISTEMAS</div>
                                <div class="collapsible-body"><span>Leandro Duarte dos Santos, Sandro Luis Schlindwein,
                                        Alfredo Celso Fantini, Mischel Carmen Neyra Belderrain </span></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><b>Tecnologia e Sistemas e Informação e Comunicação</b></div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout">
                            <li>
                                <div class="collapsible-header">CONEXÃO BRASIL X ESTADOS UNIDOS: O DIGAAÍ E OS PAPÉIS
                                    DESENVOLVIDOS ATRAVÉS DA GESTÃO SOCIAL E DA TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO
                                    PARA
                                    O REFORÇO DA IDENTIDADE DO IMIGRANTE BRASILEIRO.</div>
                                <div class="collapsible-body"><span>João Victor De Oliveira Cunha, Amanda Ferreira
                                        Aboud de
                                        Andrade </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">TOWARDS AN INFORMATION SYSTEMS-DRIVEN ORGANIZATIONAL
                                    DEVELOPMENT MODEL</div>
                                <div class="collapsible-body"><span>Eliomar Araújo Lima, Luis Fernando Ramos Molinaro
                                    </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">AVALIAÇÃO DA CAPACIDADE DE GESTÃO DE UM SISTEMA DE
                                    PRODUÇÃO
                                    DE TI: ESTUDO EM UMA EMPRESA DE TELECOMUNICAÇÕES</div>
                                <div class="collapsible-body"><span>Cleids Maria Lisbôa Cardoso Soares, Eliomar Araújo
                                        Lima, Luis Fernando Ramos Molinaro </span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">ARQUITETURA CORPORATIVA COMO VIABILIZADOR DA VISÃO
                                    INTEGRADA PARA APOIO À DECISÃO EM CENÁRIOS COMPLEXOS</div>
                                <div class="collapsible-body"><span>Eliomar Araújo Lima, Johnatha Felix Freire</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">MODELO PREDITIVO PARA GOVERNANÇA DE TECNOLOGIA DA
                                    INFORMAÇÃO NA ADMINISTRAÇÃO PÚBLICA FEDERAL</div>
                                <div class="collapsible-body"><span>MODELO PREDITIVO PARA GOVERNANÇA DE TECNOLOGIA DA
                                        INFORMAÇÃO NA ADMINISTRAÇÃO PÚBLICA FEDERAL</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header">SUPERVISÓRIO DE AUTOMAÇÃO EM NUVEM: MONITORAMENTO DE
                                    DISTRIBUIÇÃO DE ÁGUA</div>
                                <div class="collapsible-body"><span>Railson Rodrigues Leite, Wanir José Medeiros Júnior
                                    </span></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section" align="center">
    <a class="disabled btn green bnt-responsive" href="assets/sessoes-cbs/pdfs.zip" download>Download Trabalhos
        Apresentados</a>
</div>
<app-faixa></app-faixa>