<nav class="second-nav deep-orange">
  <div class="nav-wrapper container">
    <a routerLink="/" class="breadcrumb waves-effect waves-light">
      <i class="large material-icons left ">arrow_back</i>Voltar
    </a>
  </div>
</nav>

<div class="section white lighten-5">
  <br/>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <img style="width:100%; border: 2px solid grey" src="../assets/images/foto-antiga-ufg.jpg" />
      </div>
      <div class="col s12 m6 l6">
        <h4 class="grey-text text-darken-1">Apoema</h4>
        <p>
          This is a square image. Add the "circle" class to it to make it appear circular. This is a square image. Add the "circle"
          class to it to make it appear circular. This is a square image. Add the "circle" class to it to make it appear
          circular. This is a square image. Add the "circle" class to it to make it appear circular.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section teal lighten-2">
  <br/>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <h4 class="white-text">Apoema</h4>
        <p class="white-text">
          This is a square image. Add the "circle" class to it to make it appear circular. This is a square image. Add the "circle"
          class to it to make it appear circular. This is a square image. Add the "circle" class to it to make it appear
          circular. This is a square image. Add the "circle" class to it to make it appear circular.
        </p>
      </div>
      <div class="col s12 m6 l6">
        <img style="width:100%; border: 2px solid grey" src="../assets/images/foto-antiga-ufg.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="section white lighten-5">
  <br/>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <img style="width:100%; border: 2px solid grey" src="../assets/images/foto-antiga-ufg.jpg" />
      </div>
      <div class="col s12 m6 l6">
        <h4 class="grey-text text-darken-1">Apoema</h4>
        <p>
          This is a square image. Add the "circle" class to it to make it appear circular. This is a square image. Add the "circle"
          class to it to make it appear circular. This is a square image. Add the "circle" class to it to make it appear
          circular. This is a square image. Add the "circle" class to it to make it appear circular.
        </p>
      </div>
    </div>
  </div>
</div>


<p class="center">
  <a class="btn deep-orange" routerLink="/">
    <i class="material-icons left small">arrow_back</i>Voltar
  </a>
</p>