.navbar-fixed {
    visibility: visible;
}
.scrolled ul a {
    color: #0288d1;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 250ms linear;
}

.color {
    background-color: #0288d1 ;
    transition: background-color 250ms linear;
}

.scrolled .material-icons {
    color: #0288d1;
}

.isDisabled {
    color: currentColor;
    cursor: none;
    opacity: 0.5;
    pointer-events: none;
}
