<app-cabecajges></app-cabecajges>
<div class="container">
  
  <div class="row" align="center">
      
    <div class="col offset-l1 l3 offset-m1 m3 s12">
        <h5 align="center" class="font-bold brown-text text-darken-4">Denia Kuhn</h5>
      <iframe src="https://drive.google.com/file/d/1eROb8W1ulK07MCme_2ctKy1nzsSrr84Q/preview" width="320" height="240"></iframe>
    </div>
    <div class="col offset-l1 l3 offset-m1 m3 s12">
        <h5 align="center" class="font-bold brown-text text-darken-4">Marcelo Porto</h5>
      <iframe src="https://drive.google.com/file/d/1aKtUQDK-_Pq1Q1xoa1Mtw35pqGqcVfIl/preview" width="320" height="240"></iframe>
    </div>
  </div>
  <div class="row" align="center">
      <div class="col offset-l1 l3 offset-m1 m3 s12">
          <h5 align="center" class="font-bold brown-text text-darken-4">Denise Patrus</h5>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/Nk5H6E-ETLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col offset-l1 l3 offset-m1 m3 s12">
          <h5 align="center" class="font-bold brown-text text-darken-4">Marco Cesar</h5>
        <iframe src="https://drive.google.com/file/d/1NVcLzFLiVH9m8q-lwglLPRT79DCrUCEf/preview" width="320" height="240"></iframe>
      </div>
  </div>
  <br>
  <h5 align="center" class="font-bold brown-text text-darken-4">Programação Geral</h5>
  <br>
  <h5 style="padding:10px" class="deep-orange darken-3 white-text" align="center">13/11/2019</h5>
  <table class="striped centered responsive-table">
    <tbody>
      <tr>
        <td><b>09h00 - 09h30</b></td>
        <td>Recepção
        </td>
      </tr>
      <tr>
        <td><b>9:30 – 10:30</b></td>
        <td>
          <b>Conhecimentos essenciais para empreender na tecnologia. </b><br><br>
          Palestrante: Wagner Patrus – Máxima Tech e Lifeapps – Goiás 
        </td>
      </tr>
      <tr>
        <td><b>10:30 – 11:00</b></td>
        <td>
            Coffee Break
        </td>
      </tr>
      <tr>
        <td><b>11:00 – 12:00</b></td>
        <td>
          <b>Mente e Software – O que eles têm em comum? Como a Engenharia de software pode ajudar? </b><br>
          Palestrante: Adriana Silveira de Souza – Estratégia TI – PUCGO/UFG – Goiás 
        </td>
      </tr>
      <tr>
        <td><b>12:00 – 14:00</b></td>
        <td><b>Almoço </b>
        </td>
      </tr>
      <tr>
        <td><b>14:00 – 15:00</b></td>
        <td>
          <b>Bem-estar e produtividade no mundo V.U.C.A</b><br>
          Palestrante: Luciano Meira – Goiânia 
        </td>
      </tr>
      <tr>
          <td><b>15:00 – 15:30</b></td>
          <td>Coffee Break 
          </td>
      </tr>
      <tr>
          <td><b>15:30 – 16:30</b></td>
          <td>
            <b>O uso da capacitação subjetiva na área de TI </b><br>
            Palestrante: Helder Pinheiro - Espaço Potencial Fortaleza e SPFOR – Fortaleza  
          </td>
      </tr>
      <tr>
          <td><b>16:30 – 18:00</b></td>
          <td>
            <b>Mesa Redonda: Saúde Mental na Área de TI </b><br>
            Participantes da Jornada Goiana em Engenharia de Software  
          </td>
      </tr>
      <tr>
          <td><b>18:00</b></td>
          <td>
            Lançamento dos Livros dos Palestrantes Luciano Meira e Helder Pinheiro  
          </td>
      </tr>
    </tbody>
  </table>
</div>
<app-faixajges></app-faixajges>