<app-cabecajges></app-cabecajges>
<div class="container">
  <br>
  <h4 align="center" class="font-bold brown-text text-darken-4">Programação Geral</h4>
  <br>
  <h5 style="padding:10px" class="deep-orange darken-3 white-text" align="center">23/11/2018</h5>
  <table class="striped centered responsive-table">
    <tbody>
      <tr>
        <td><b>09h00 - 09h30</b></td>
        <td>Recepção
        </td>
      </tr>
      <tr>
        <td><b>9:30 – 10:30</b></td>
        <td>
          <b>Conhecimentos essenciais para empreender na tecnologia. </b><br><br>
          Palestrante: Wagner Patrus – Máxima Tech e Lifeapps – Goiás 
        </td>
      </tr>
      <tr>
        <td><b>10:30 – 11:00</b></td>
        <td>
            Coffee Break
        </td>
      </tr>
      <tr>
        <td><b>11:00 – 12:00</b></td>
        <td>
          <b>Mente e Software – O que eles têm em comum? Como a Engenharia de software pode ajudar? </b><br>
          Palestrante: Adriana Silveira de Souza – Estratégia TI – PUCGO/UFG – Goiás 
        </td>
      </tr>
      <tr>
        <td><b>12:00 – 14:00</b></td>
        <td><b>Almoço </b>
        </td>
      </tr>
      <tr>
        <td><b>14:00 – 15:00</b></td>
        <td>
          <b>Bem-estar e produtividade no mundo V.U.C.A</b><br>
          Palestrante: Luciano Meira – São Paulo 
        </td>
      </tr>
      <tr>
          <td><b>15:00 – 15:30</b></td>
          <td>Coffee Break 
          </td>
      </tr>
      <tr>
          <td><b>15:30 – 16:30</b></td>
          <td>
            <b>O uso da capacitação subjetiva na área de TI </b><br>
            Palestrante: Helder Pinheiro - Espaço Potencial Fortaleza e SPFOR – Fortaleza  
          </td>
      </tr>
      <tr>
          <td><b>16:30 – 18:00</b></td>
          <td>
            <b>Mesa Redonda: Saúde Mental na Área de TI </b><br>
            Participantes da Jornada Goiana em Engenharia de Software  
          </td>
      </tr>
      <tr>
          <td><b>18:00</b></td>
          <td>
            Lançamento dos Livros dos Palestrantes Luciano Meira e Helder Pinheiro  
          </td>
      </tr>
    </tbody>
  </table>
</div>
<app-faixajges></app-faixajges>