<nav class="second-nav deep-orange">
  <div class="nav-wrapper container">
    <a routerLink="/" class="breadcrumb waves-effect waves-light">
      <i class="large material-icons left ">arrow_back</i>Voltar
    </a>
  </div>
</nav>
<h4 align="center" class="light-blue-text text-darken-4"><b>INF Intinerante</b></h4>
<hr>
<br>
<div class="container">
  <div class="slider">
    <ul class="slides">
      <li>
        <img style="filter: brightness(70%)" src="../../../assets/images/inf-intinerante/wallpaper.jpeg">

      </li>
      <li>
        <img style="filter: brightness(70%)" src="../../../assets/images/inf-intinerante/wallpaper2.jpeg">

      </li>
      <li>
        <img style="filter: brightness(70%)" src="../../../assets/images/inf-intinerante/wallpaper3.jpeg">

      </li>
      <li>
        <img style="filter: brightness(60%)" src="../../../assets/images/inf-intinerante/wallpaper4.jpeg">

      </li>
    </ul>
  </div>
  <h5 style="color:#66615b"><b>O que é?</b></h5>
  <p>Levar às escolas/espaços públicos o portfólio de projetos/ações do Instituto de Informática da UFG.</p>
  <br>
  <h5 style="color:#66615b"><b>O que já foi feito</b></h5>
  <p>Junto com os outros participantes do Projeto do Museu da Informática (alunos, técnicos e docentes do INF), foram
    feitas duas visitas. A primeira visita foi realizada na Escola Municipal Moisés Santana, no Bairro Capuava. A
    segunda visita foi realizada na Escola Maria Araújo de Freitas, no Parque Atheneu.</p>
  <p><b>Na primeira visita</b>, a equipe chegou às 8:40 da manhã, montaram os equipamentos e passaram o dia recebendo
    grupos de alunos, fazendo-os passear pela história da informática. Receberam 12 grupos, com cerca de 10 a 15 alunos
    cada, do 1º ao 6º ano.</p>

</div>

<div class="bg-fotos">
    <div class="container">
      <br />
      <h4 class="center white-text">Galeria</h4>
      <br />
      <div class="row">
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img1.jpeg">
        </div>
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img2.jpeg">
        </div>
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img3.jpeg">
        </div>
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img4.jpeg">
        </div>
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img5.jpeg">
        </div>
        <div class="col s12 m6 l6">
          <img materialize="materialbox" class="materialboxed img-boxed" src="assets/images/inf-intinerante/img6.jpeg">
        </div>
      </div>
    </div>
    <br />
  </div>

  <p class="center">
    <button class="btn deep-orange" (click)="goBack()">
      <i class="material-icons left small">arrow_back</i>Voltar
    </button>
  </p>