<div class="slider">
    <ul class="slides">
        <li>
            <div class="center-align bg-responsive">
                <a style="margin-top:10px" class="btn purple" routerLink="/evento/cbs">Visão Geral</a><br><br>
                <a class="btn green" routerLink="/programacaocbs">Ver Programação Geral</a><br><br>
                <a class="btn blue" routerLink="/palestrantes">Ver Palestrantes</a><br><br>
                <a class="btn red" routerLink="/sessoes">Ver Sessões Técnicas</a><br><br>
            </div>
        </li>
        <li>
            <img style="filter: brightness(60%)" src="../../../assets/images/obi-horizontal.png">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Olimpíada Brasileira de Informática</h3>
                <a class="btn green" routerLink="/evento/obi">Ver mais</a>
            </div>
        </li>
        <li>
            <img style="filter: brightness(80%)" src="../../../assets/images/jges-horizontal.png">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Jornada Goiana de Engenharia de Software</h3>
                <a class="btn red" routerLink="/evento/jges">Ver mais</a>
            </div>
        </li>
        <li>
            <img style="filter: brightness(60%)" src="../../../assets/images/ersigo-horizontal.png">
            <!-- random image -->
            <div class="caption center-align">
                <h3>Escola Regional de Informática</h3>
                <a class="btn orange" routerLink="/evento/eri-ersi-erad">Ver mais</a>
            </div>
        </li>
    </ul>
</div>