<div class="container">
  <br>
  <h4 class="font-bold green-text text-darken-2">Programação Geral 14º Congresso Brasileiro de Sistemas</h4>
  <br>
  <h5 style="padding:10px" class="green darken-4 white-text" align="center">25/10/2018</h5>
  <table class="striped centered responsive-table">
    <tbody>
      <tr>
        <td>08h00 às 08h45</td>
        <td>Credenciamento e Recepção: Hall do Auditório IPTSP</td>
      </tr>
      <tr>
        <td>9:00h às 12:00h</td>
        <td>Seminário – Parte I :: Auditório IPTSP <br>
          J. Donald R. de Raadt. <br>
          Perspectiva Sistémica de la Informática
        </td>
      </tr>
      <tr>
        <td>10:20h às 10:40h</td>
        <td>Coffee-break :: Sala 01 IPTSP
        </td>
      </tr>
      <tr>
        <td>10:45h às 12:00h</td>
        <td>Seminário – Parte I :: Auditório IPTSP <br>
          J. Donald R. de Raadt. <br>
          Perspectiva Sistémica de la Informática
        </td>
      </tr>
      <tr>
        <td>12:00h às 13:30h</td>
        <td>Almoço Livre
        </td>
      </tr>
      <tr>
        <td>13:30h às 16:00h</td>
        <td>Seminário – Parte II :: Auditório IPTSP <br>
          J. Donald R. de Raadt. <br>
          Perspectiva Sistémica de la Informática
        </td>
      </tr>
      <tr>
        <td>16:00h às 16:20h</td>
        <td>Coffee-break :: Sala 01 IPTSP
        </td>
      </tr>
      <tr>
        <td>16:30h às 18:30h</td>
        <td>Workshop :: Auditório IPTSP<br>
          Maria José Esteves<br>
          Sistêmico? A que se refere hoje?<br>
        </td>
      </tr>
      <tr>
        <td>18:45h às 19:30h</td>
        <td>Solenidade de Abertura :: Auditório IPTSP
        </td>
      </tr>
      <tr>
        <td>19:30h às 20:30h</td>
        <td>Palestra de Abertura :: Auditório IPTSP<br>
          Alexander Laszlo<br>
          Liderazgo e Innovación Sistémica: sistemas sociotécnicos, sistemas ecológicos<br>
          y diseño de sistemas evolutivos
        </td>
      </tr>
    </tbody>
  </table>
  <!-- primeira tabela fim -->

  <h5 style="padding:10px" class="green darken-4 white-text" align="center">26/10/2018 - Manhã</h5>
  <table class="striped centered responsive-table">
    <tbody>
      <tr>
        <td>8:00h às 9:00h</td>
        <td>Sessão Técnica I – Administração e Redes entre Organizações<br>
          Sala 403 :: IPTSP<br>
          <br>
          Sessão Técnica II – Economia e Desenvolvimento<br>
          Sala Leitura :: IPTSP<br>
        </td>
      </tr>
      <tr>
        <td>09:10h às 10:00h</td>
        <td>Palestra 1 – Otávio de Avelar Esteves<br>
          Auditório IPTSP<br>
          <br>
          Uma experiência de aplicação do pensamento sistêmico no ensino de engenharia

        </td>
      </tr>
      <tr>
        <td>10:00h às 10:20h</td>
        <td>Coffee-break :: Sala 01 IPTSP
        </td>
      </tr>
      <tr>
        <td>10:20h às 11:20h</td>
        <td>Sessão Técnica III – Sociologia e Políticas Públicas<br>
          Sala 403 :: IPTSP<br><br>
          Sessão Técnica IV – Psicologia e Saúde & Inovação Sistêmica<br>
          Sala Leitura :: IPTSP
          <hr>
          Palestra 2 - Leonardo Antônio Alves<br>
          Auditório IPTSP<br>
          Criptomoedas/moedas digitais e seu impacto na sociedade contemporânea<br>
        </td>
      </tr>
      <tr>
        <td>11:30h às 12:30h</td>
        <td>Palestra 3 – J. Donald R. de Raadt<br>
          Auditório IPTSP<br>
          Razonamiento Cybernético y la Ética del Vivir y Trabajar
        </td>
      </tr>
      <tr>
        <td>12:30h às 14:00h</td>
        <td>Almoço Livre
        </td>
      </tr>
    </tbody>
  </table>
  <!-- segunda tabela fim -->

  <h5 style="padding:10px" class="green darken-4 white-text" align="center">26/10/2018 - Tarde</h5>
  <table class="striped centered responsive-table">
    <tbody>
      <tr>
        <td>14:00h às 15:00h</td>
        <td>Sessão Técnica I – Administração e Redes entre Organizações<br>
          Sala 403 :: IPTSP<br>
          <br>
          Sessão Técnica II – Economia e Desenvolvimento<br>
          Sala Leitura :: IPTSP<br>
        </td>
      </tr>
      <tr>
        <td>15:10h às 16:00h</td>
        <td>Palestra 1 – Otávio de Avelar Esteves<br>
          Auditório IPTSP<br>
          <br>
          Uma experiência de aplicação do pensamento sistêmico no ensino de engenharia

        </td>
      </tr>
      <tr>
        <td>16:10h às 16:30h</td>
        <td>Coffee-break :: Sala 01 IPTSP
        </td>
      </tr>
      <tr>
        <td>16:30h às 17:30h</td>
        <td>Sessão Técnica VIII – Tecnologia e Sistemas e Informação e Comunicação<br>
          Sala 103 :: Faculdade de Educação<br><br>
          Sessão Técnica IX – Sociologia e Políticas Públicas<br>
          Sala 104 :: Faculdade de Educação
          <hr>
          Palestra 6 – Christian Maciel De Britto<br>
          Auditório IPTSP<br>
          Pensamento Sistêmico Multimodal: aprofundamentos quanto a método, teoria e sociologia no contexto da<br>
          sustentabilidade e da intradisciplinaridade

        </td>
      </tr>
      <tr>
        <td>17:30h às 18:30h</td>
        <td>Palestra 6 – Celso Gonçalves Camilo Junior<br>
          Auditório IPTSP<br>
          Uma Experiência de Aplicação da Inovação Aberta e Social no Município de Goiânia<br>
        </td>
      </tr>
      <tr>
        <td>18:40h às 19:00h</td>
        <td>Encerramento e Premiação dos Melhores Trabalhos<br>
          Auditório IPTSP
        </td>
      </tr>
    </tbody>
  </table>
  <!-- terceira tabela fim -->
</div>