<nav class="second-nav deep-orange">
  <div class="nav-wrapper container">
    <a routerLink="/" class="breadcrumb waves-effect waves-light">
      <i class="large material-icons left ">arrow_back</i>Voltar
    </a>
  </div>
</nav>
<img src="{{evento.imghorizontal}}" style="width: 100%;">

<div class="white">
  <div class="container">
    <br/>
    <h3 class="center">{{evento.nome}}</h3>
    <br/>
    <p id="sinopse" class="fonte18">
      {{evento.sinopse}}
    </p>
    <br/>
    <br/>
  </div>
</div>

<div class="white galeria">
  <div class="container fonte18">
    <br/>
    <h4 class="center">Organização</h4>
    <br/>
    <div class="container">
      <table class="centered">
        <tbody>
          <tr>
            <td>
              <b>Coordenação: </b>
            </td>
            <td>{{evento.coordenador}}</td>
          </tr>
          <tr>
            <td>
              <b>Tipo: </b>
            </td>
            <td>{{evento.tipo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <br/>
  </div>
</div>

<div class="bg-realiza">
  <div class="container fonte18">
    <br/>
    <h4 class="center">Realização</h4>
    <br/>
    <div class="container">
      <table class="centered">
        <tbody>
          <tr>
            <td>
              <b>Periodicidade:</b>
            </td>
            <td>{{evento.periodicidade}}</td>
          </tr>
          <tr>
            <td>
              <b>Local:</b>
            </td>
            <td>{{evento.local}}</td>
          </tr>
          <tr>
            <td>
              <b>Público Alvo:</b>
            </td>
            <td>{{evento.publicoalvo}}</td>
          </tr>
          <tr>
            <td>
              <b>Estimativa:</b>
            </td>
            <td>{{evento.estimativa}}</td>
          </tr>
          <tr>
            <td>
              <b>Itens de apoio:</b>
            </td>
            <td>{{evento.itens}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <br/>
  </div>
</div>

<div class="bg-fotos">
  <div class="container">
    <br/>
    <h4 class="center white-text">Galeria</h4>
    <br/>
    <div class="row">
      <div class="col s12 m6 l6">
        <img materialize="materialbox" class="materialboxed img-boxed" src={{evento.img1}}>
      </div>
      <div class="col s12 m6 l6">
        <img  materialize="materialbox" class="materialboxed img-boxed" src={{evento.img2}}>
      </div>
      <div class="col s12 m6 l6">
        <img  materialize="materialbox" class="materialboxed img-boxed" src={{evento.img3}}>
      </div>
      <div class="col s12 m6 l6">
        <img  materialize="materialbox" class="materialboxed img-boxed" src={{evento.img4}}>
      </div>
      <div class="col s12 m6 l6">
        <img  materialize="materialbox" class="materialboxed img-boxed" src={{evento.img5}}>
      </div>
      <div class="col s12 m6 l6">
        <img  materialize="materialbox" class="materialboxed img-boxed" src={{evento.img6}}>
      </div>

    </div>
  </div>
  <br/>
</div>

<p class="center">
  <button class="btn deep-orange" (click)="goBack()">
    <i class="material-icons left small">arrow_back</i>Voltar
  </button>
</p>
