.second-nav{
    height: 3em;
    line-height: 45px;
}
.second-nav .material-icons{
    line-height: 45px;
}
.img-boxed{
    width:100%;
    padding-bottom: 1.5rem;
}
.galeria{
    background-image: url("../../assets/images/img-background.jpg");
}

.bg-fotos {
    background-color: #313131;
}

.bg-realiza {
    background-color: #007acc;
}