<div class="divider"></div>
<div class="container" style="margin-top: 20px;" align="center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3821.975488375813!2d-49.24582298513336!3d-16.678109988507366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1541780882948"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <p><b>Auditório 1<br>
      Praça Universitária<br>
      2-102 - Setor Leste Universitário<br>
      Goiânia - Goiás - Brasil
      CEP: 74605-220</b></p>
  <br>
  <p align="center"><b>Realização:</b> Instituto de Informática da UFG e Escola de Ciências Exatas e de Computação da PUCGO</p>
</div>