<body style="background-color: #4db6ac; bottom: 0%;">
  <div class="navbarersi">
    <a><img src="../assets/images/LOGO-ERSI.png" style="height: 45px; margin-top: -5px;"></a>
    <a (click)="scroll(introducao)">Inicio</a>
    <a (click)="scroll(chamada_trabalhos)">Chamada de Trabalhos</a>
    <a (click)="scroll(instrucao_autores)">Instrução aos Autores</a>
  </div>
      <div class="section white lighten-5">
          <div class="row">
              <div class="column">
                  <h3>3ª Edição da Escola Regional de Sistemas de Informação de Goiás</h3>
                  <h5>Formação dos Bacharéis em Sistemas de Informação em Tempos de Tecnologias Exponenciais</h5>
                  <p class="center">
                      <a class="btn deep-orange" (click)="scroll(chamada_trabalhos)">
                        CHAMADA PARA TRABALHOS
                      </a>
                  </p>
              </div>
              <div class="column">
                  <div class="first">22 e 23
                      <br> Novembro | 19
                      <br> Goiânia - GO
                  </div>
                  <div class="second">
                      <span>Instituto de Informática - INF e Centros de Aulas</span>
                      <br>Campus II - Samambaia
                  </div>
              </div>
          </div>
      </div>
  <a #introducao></a>
  <div class="section teal lighten-2" id="introducao">
    <br />
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h4 class="white-text">III Escola Regional de Sistemas de Informação de Goiás (ERSI-GO)</h4>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="titulo">

                  <p>Chancelada pela Comissão Especial de Sistemas de Informação (CE-SI/SBC)</p>
                  <p><b>22 e 23 de Novembro de 2019</b></p>
                </div>
                <div class="col-md-9 texto">
                  
                      
                      
                      <p>A 3ª Edição da Escola Regional de Sistemas de Informação de Goiás (ERSI-GO) é o fórum regional sobre Sistemas de Informação do Estado de Goiás para discussão e veiculação de trabalhos tecno-científicos. Este ano, a ERSI-GO acontece em consórcio com a 7ª Edição da Escola Regional de Informática de Goiás (ERI-GO 2018) e a 2ª Edição da Escola Regional de Alto Desempenho do Centro-Oeste (ERAD-CO), proporcionando um ambiente diversificado de assuntos e contribuindo para uma maior integração entre a comunidade goiana de pesquisadores e discussão de temas relevantes nas áreas de sistemas de informação, aproximando estudantes, pesquisadores, profissionais e empresários.</p>
                      
                      <p>Com o tema "Formação dos Bacharéis em Sistemas de Informação em Tempos de Tecnologias Exponenciais", esta edição da ERSI-GO contará com uma agenda diversificada de atividades, incluindo painéis temáticos, apresentação de artigos técnicos, palestras, minicursos, mesa redonda, e feira das profissões, estreitando as relações entre indústria e academia.</p>
                      
                      <p>A ERSI-GO 2019 ocorrerá nos dias 22 e 23 de novembro de 2019, em Goiânia-GO. Além dos painéis e das sessões técnico-científicas que contam com a apresentação de artigos selecionados, a ERSI-GO 2019 incluirá várias outras atividades, conforme programação. Nesse sentido, a organização convida a comunidade científica brasileira para submeter trabalhos para este fórum.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a #chamada_trabalhos></a>
  <div class="section white lighten-5" id="chamada_trabalhos">
    <br />
    
      <div class="row">
        
          <h4 class="grey-text text-darken-1" style="text-align: center;">Chamada de Trabalhos</h4>
          
            <div class="row">
              <div class="container">
                  <div class="column">

                      <p>
                        A ERSI-GO ocorre como uma trilha da ERI-GO, de modo que a submissão dos artigos deve ser realizada no
                        JEMS no contexto da
                        ERI-GO. As informações detalhadas do formato de submissão podem ser encontradas<a (click)="scroll(instrucao_autores)"> AQUI</a>. A submissão
                        de artigos técnico-científicos possui dois formatos: artigo completo e artigo curto em diversas
                        trilhas técnico-científicas. As orientações para submissão estão no site da ERI-GO.
                      </p>
                    </div>
              </div>
              <div class="column-3"></div>
              <div class="column">
                <img src="../assets/images/illustration_1@1x.png">
              </div>
            
          </div>

        

      </div>
    
  </div>
  
  <a #instrucao_autores></a>
  <div class="section teal lighten-2">
      <br />
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h4 class="white-text">Instrução aos Autores</h4>
            
              <p>Este ano, a ERSI-GO possibilitará dois formatos de artigos: artigo completo e artigo curto. A submissão de artigos será exclusivamente eletrônica, por meio do sistema JEMS. Para tal, os autores devem acessar o link</p>
              <p> O artigo completo deverá conter no mínimo 11 (onze) e no máximo 14 (quatorze) páginas, incluindo resumo, figuras, diagramas, referências e anexos.</p>
              <p> O artigo curto deverá conter no mínimo 7 (sete) e no máximo 10 (dez) páginas, incluindo resumo, figuras, diagramas, referências e anexos.</p>
              <p> O formato da submissão é o formato padrão da SBC, disponível em SBC</p>
              <p> O artigo deve ser enviado em um arquivo no formato PDF.</p>
              <p> O artigo deve ser escrito em Português ou Inglês.</p>
              <p> O artigo deve conter um mínimo de 40% de conteúdo novo e original nos artigos submetidos.</p>
              <p> DOUBLE-BLIND REVIEW: O artigo submetido não deve conter os nomes dos autores nem dados da instituição de origem ou qualquer outra referência NO CORPO DO ARTIGO que possa permitir a identificação da autoria do artigo.</p>
              <p> Os nomes dos autores e suas afiliações devem constar APENAS no sistema JEMS e na versão final do corpo do artigo.</p>
              <p> Todos os autores e coautores devem estar incluídos no sistema JEMS na submissão do artigo.</p>
              <p> É importante ressaltar também que não será possível adicionar co-autores ao sistema JEMS depois do artigo aceito.</p>
              <p> O artigo deve conter um mínimo de 40% de conteúdo novo e original nos artigos submetidos.</p>
              <p> Os artigos completos aceitos deverão ser apresentados de forma oral dentro das sessões técnico-científicas (ainda a definir) enquanto que os artigos curtos deverão ser apresentados em sessão com poster (formato livre). Sendo obrigatório que pelo menos um dos autores do artigo aceito faça inscrição no evento. Artigos aceitos que não tenham sido apresentados no evento (NO-SHOW) serão removidos dos anais.
              </p>
               
            
          
            
          </div>
          
        </div>
      </div> 
  </div>
  <div class="section white lighten-5" id="topicos">
    <br />
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h4 class="grey-text text-darken-1">Topicos de Interesse</h4>
          <p>
            Autores são convidados a submeter artigos escritos em língua portuguesa ou inglesa contendo resultados de trabalhos finalizados
                        ou em andamento na área de sistemas de informação (SI), e que sejam produtos de pesquisa científica
                        (iniciação, mestrado ou doutorado) ou trabalhos de final de curso de graduação, descrevendo trabalhos,
                        e ainda não avaliados submetidos para outros fóruns. Um trabalho pode encaixar-se em mais de uma
                        trilha, mas cada trabalho deve ser submetido uma única vez e a uma única trilha.</p>
                        <p> Existem dois formatos
                        de artigos: completo e curto.</p>
                        <p>No formato de Artigo Completo são esperados trabalhos com resultados
                        mais consolidados e significativos, com emprego mais rigoroso de metodologia científica, de preferência
                        que lidam com problemas de cunho científico.</p>
                        <p> No formato de Artigo Curto são esperados trabalhos com
                        resultados preliminares e menor rigor na metodologia científica, onde a parte técnica e tecnológica
                        deve estar mais em evidência.
          </p>
          <p>Cada artigo será avaliado por dois ou mais especialistas, e os melhores ARTIGOS COMPLETOS avaliados pelo comitê técnico-científico
              da ERSI-GO poderão ser convidados para a submissão de uma VERSÃO ESTENDIDA do artigo aceito na ERSI-GO
              para um periódico da área (a ser definido em breve), tal qual aconteceu na edição anterior da escola.
              A extensão deverá seguir as normas de submissão e avaliação definidas pelo periódico em questão.
              Os trabalhos devem ser submetidos via JEMS, no contexto da ERI-GO. A lista de tópicos de interesse
              específicos da ERSI-GO 2018 é apresentada a seguir, não limitando-se a apenas estes tópicos:</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section teal lighten-2">
    <br />
    <div class="container">
      <div class="row">
        
          <h4 class="white-text">Trilha Técnico-Científica: Sistemas de Informação (SI)</h4>
          
          <ul class="column-2">
              <li><u>Alinhamento estratégico entre TI e negócio</u></li>
              <li><u>Arquitetura de sistemas de informação</u></li>
              <li><u>Aspectos humanos e sociais em SI</u></li>
              <li><u>E-business, E-commerce e Mídias sociais</u></li>
          </ul>
          
      </div>
      <p class="center">
        <a class="btn deep-orange" href="http://erigo.sbc.org.br/p/240-inscricoes">
          <i class="material-icons left small">description</i>Inscrições
        </a>
      </p>
    </div>
  </div>
  <div class="section white lighten-5">
    <br />
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h4 class="grey-text text-darken-1">Edição Especial da Revista de Sistemas de Informação da FSMA</h4>
          <img src="../assets/images/Ilustration_2@1x.png">
          <p>
              Dos 33 artigos apresentados na V ERI-GO 2017, 17 artigos completos foram convidados para
              submeter uma versão estendida para Revista de Sistemas de Informação da Faculdade Salesiana
              Maria Auxiliadora (FSMA). É importante ressaltar que a parceria com a revista de Sistemas de
              Informação da FSMA (Qualis-CC B5) continua para VI ERI-GO 2018, os melhores artigos
              completos do evento serão novamente convidados para submeter uma versão estendida para essa
              revista.
          </p>
        </div>
        
      </div>
    </div>
  </div>
  
  <p class="center">
    <a class="btn deep-orange" href="#inicio">
      <i class="material-icons left small">arrow_back</i>Voltar
    </a>
  </p>
  <div class="row" style="background-color: blue; margin: 0px;">
    <div class="center"><h5 style="text-align: center; margin: 0px;">Patrocínio:</h5>
      <img src="../assets/images/footer/marca-fapeg-transparente.png" style="width: 10%; height: 10%;"></div>
  </div>
  <div class="row" style="background-color: blue; margin: 0px;">
      <div class="center"><h5 style="text-align: center; margin: 0px;">Apoio:</h5>
        <img src="../assets/images/footer/adufg.png" style="width: 10%; height: 10%;"></div>
  </div>
  <div class="row" style="background-color: blue; margin: 0px; padding: 0px;">
      <div class="center"><h5 style="text-align: center; margin: 0px;">Realização:</h5>
        <img src="../assets/images/footer/sbc.png" style="width: 5%; height: 5%; margin: 10px;">
        <img src="../assets/images/footer/logo-proinf.png" style="width: 10%; height: 10%; margin: 10px;">
        <img src="../assets/images/footer/logo-inf.png" style="width: 10%; height: 10%; margin: 10px;">
        <img src="../assets/images/footer/ufg.png" style="width: 10%; height: 10%; margin: 10px;">
      </div>
  </div>
</body>
