<nav class="second-nav deep-orange">
  <div class="nav-wrapper container">
    <a routerLink="/" class="breadcrumb waves-effect waves-light">
      <i class="large material-icons left ">arrow_back</i>Voltar
    </a>
  </div>
</nav>
<div align="center" class="section">
  <img class="responsive-img" src="assets/images/cbs.jpg">
  <div class="container">
    <div class="row">
      <a class="cabeca-btn waves-effect waves-light btn blue darken-3" routerLink="/evento/cbs">Visão Geral</a>
      <a class="cabeca-btn waves-effect waves-light btn blue darken-3" routerLink="/programacaocbs">Programação
        Geral</a>
      <a class="cabeca-btn waves-effect waves-light btn blue darken-3" routerLink="/palestrantes">Palestrantes</a>
      <a class="cabeca-btn waves-effect waves-light btn blue darken-3" href="http://conveniar.rtve.org.br/Eventos/Forms/Servicos/EventoDados.aspx?action=3">Inscrições</a>
      <a class="cabeca-btn waves-effect waves-light btn blue darken-3" routerLink="/sessoes">PROCEEDINGS</a>
    </div>
  </div>
</div>
<hr>