/* You can add global styles to this file, and also import other style files */
.bg-img {
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-bold {
    font-weight: bold;
}

.font-responsive {
    font-size: 1vw !important;
}

.bg-responsive { 
    /* The image used */
    background-image: url("assets/images/cbs.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bnt-responsive {
    height: auto !important;
}

.second-nav{
    height: 3em;
    line-height: 45px;
}
.second-nav .material-icons{
    line-height: 45px;
}