<app-cabecajges></app-cabecajges>
<div class="container">
  <br>
  <h5 style="padding:10px" class="brown darken-3 white-text" align="center">Palestrantes</h5>
  <br>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="" alt="" class="circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <b>Helder Pinheiro</b><br><br>
          <span class="black-text">
              <p>Psicólogo, Especialista em Psicologia Clínica – Centro de Estudos Psicanalíticos (CEP)/SP, analista institucional – CEP/SP, Ex-docente do curso Formação em Psicanálise – CEP/SP,
                 membro fundador do Núcleo de Psicanálise e Ação Social – NUPAS/SP,
                 Presidente da Associação Brasileira de Candidatos – ABC (2016 e 2017), Psicanalista, Membro da Sociedade Psicanalítica de Fortaleza - SPFOR, Co-organizador do livro Winnicott – Seminários cearenses.
                 Autor de textos publicados em revistas e livros científicos nacionais e internacionais. </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="" alt="" class="circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <b>Adriana Silveira de Souza</b><br><br>
          <span class="black-text">
            <p>Bacharel em Informática; Psicóloga; Psicanalista; Executive Coach; Professora do Instituto de Informática da Universidade Federal de Goiás (UFG) e ; Mestra em Ciência da Computação pela Universidade Federal do Rio Grande do Sul (UFRGS); Membro do Comitê Gestor do Modelo MPS.BR;</p>
            <p>Consultora e Auditora Líder (Lead Auditor) da Norma de Qualidade NBR ISO/IEC 9001; Implementadora, Avaliadora Líder e Instrutora Oficial do modelo MPS.BR, credenciada pelo SOFTEX; Avaliadora Líder da Metodologia CERTICS (Certificação de Tecnologia Nacional de Software); Coordenou a avaliação de Produtos de Software na 1a Chamada Nacional SOFTEX – Núcleo UFRGS; Participou de avaliações de Produtos de Software do Prêmio ASSESPRO; </p>
            <p>Implementadora de melhoria de processos de software em empresas do estado de Goiás e do Distrito Federal; Avaliadora de processos de diversas organizações produtoras de software, entre as quais o Banco do Brasil; Pesquisadora na área de processos de software e comportamento organizacional. </p>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col s10">
            <b>Luciano Meira</b><br><br>
            <span class="black-text">
              <p>Formado em Letras e Especialista em Liderança e Gestão Organizacional;
                 já treinou líderes de diversas grandes empresas, a exemplo de: 
                 Volkswagen, Embraer, Kimberly Clark e Faber Castell; coordenador do curso de 
                 MBA Executivo em Liderança & Gestão Organizacional (FranklinCovey) e do Curso 
                 de Curta Duração de Liderança Integral do IPOG, onde também atua como Diretor 
                 de Metodologia; Sócio Fundador da Caminhos Vida Integral.  </p>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="" alt="" class="circle responsive-img">
              <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <b>Wagner Patrus</b><br><br>
              <span class="black-text">
                <p>Empresário graduado em Administração pela Universidade Federal de Minas Gerais.
                   Possui mais de 30 anos de experiência em tecnologia da informação no desenvolvimento
                    de sistemas para o segmento atacadista/distribuidor. Fundador da PC Sistemas e Máxima
                     Tech, LifeApps entre outras. Vice-reitor da Fundação Logosófica de Goiânia e membro do
                      Conselho de Administração da Fundação Logosófica do Brasil.  </p>
                </span>
            </div>
          </div>
        </div>
      </div>  
</div>
<app-faixajges></app-faixajges>